<% if @miniatures.size > 0 %>
	<p>There are <%= @miniatures.size %> miniatures in this listing, sorted by <%= @sort_description %>.</p>
<% else %>
	<p>There are 0 miniatures in this listing.</p>
<% end %>
